chakki/chakki/__pycache__/
chakki/db.sqlite3
chakki/udhari/__pycache__/
chakki/purji/__pycache__/
chakki/purji/migrations/__pycache__/
chakki/udhari/__pycache__/
chakki/udhari/migrations/__pycache__/
chakki/.coverage
